body {
  text-align: center;
}

h2 {
  margin-top: 10vh;
}

#inputArea {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

#text-box {
  height: 40px;
  width: 270px;
  outline: 0;
  border: 0;
  border-radius: 2px 0 0 2px;
  background: #eee;
}

button {
  height: 40px;
  width: 65px;
  border: none;
  border-radius: 2px 0 0 2px;
  color: #fff;
  background: #7fbfff;
}

button:hover {
  color: #666;
}

#result-box {
  font-size: 30;
}
